@model IEnumerable<EMX.WorkersBenefits.DAL.Models.worker>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.worker_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_update)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.worker_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_update)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.worker_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.worker_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.worker_id })
        </td>
    </tr>
}

</table>
